{% extends "base.html" %}

{% block main %}
  <h1>Users</h1>

    
        {% if profiles %}
                {% for user in profiles %}
                    <div class="left">
                        <img src="{{url_for('static', filename='./app/static/uploads/'+ user.uploads)}}"></img>
                        <td>{{ user.firstname }}</td>
                        <td>{{ user.lastname }}</td>
                        <td>{{ user.gender }}</td>
                        <td>{{ user.location }}</td>
                    </div>
                {% endfor %}
        {% else %}
            <p>No Profiles Added.</p>
        {% endif %}
{% endblock %}